---
import StarlightTabs from 'starlight-tabs';
---

<StarlightTabs>
  <div slot="tab1" label="Introducción">
    <slot name="tab1-content" />
  </div>
  <div slot="tab2" label="Endpoint">
    <slot name="tab2-content" />
  </div>
</StarlightTabs>